#survey {
  padding: 5px;
}

.survey {
  padding: 15px;
  margin: 10px;
}

.about .input-group {
  margin-top: 10px;
}

#card {
  margin-right: 5px;
}

#close {
  text-decoration:  none;
}

.jumbotron {
    position: relative;
    background: #000 url("kite.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.col-md-5 {
  margin: 10px;
}

.col-md-10 {
  margin: 10px;
}

button {
  float: right;
}

.about {
  width: 100%;
}


.place {
  font-style: italic;
}

.footer-basic-centered{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}


.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 5;
}

.footer-basic-centered .footer-company-name{
  color:  #8d9093;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #8d9093;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-links:hover {
  color: #ffffff;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}